*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	color: #e3891b;
	text-align: center;
	font-family: 'Inconsolata', monospace;
	text-shadow: 2px 2px yellow;
}

header{
	background: #e7f8f9;
	display: flex;
	justify-content: space-around;
	padding: 15px;
	margin-bottom: 10px;
}

#newbtn{
	border:1px solid #b2ebf2;
	border-radius: 10px;
	background: #b2ebf2;
	padding: 10px;
	cursor: pointer;
	outline: none;
	color:  #e3891b;
	font-weight: bold;
	letter-spacing: 0.5px;
}

#newbtn:hover{
	border:1px solid #0887d2;
	background: #0887d2;
	color: #fbdfac;
}

.blur { 
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px); 
	-o-filter: blur(3px); 
	-ms-filter: blur(3px); 
	filter: blur(3px); 
}

.form-wrapper{
	width: 90%;
	max-width: 400px;
	/*display: block;*/
	display: none;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%,0);
	background: #b2ebf2;

}

.book-form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-error{
	display: none;
	color: red;
}

input{
	outline: none;
}

.input-query{
	margin-top: 10px;
	font-size: 1.2em;
	color:  #e3891b;
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
}

.input-fields{
	width: 300px;
	height: 1.5em;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 10px;
}

#Page-Count{
	width: 100px;
}

.add-book, #close-form{
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
	letter-spacing: 1px;
	font-weight: bold;
	margin-top: 10px;
}

.add-book{
	background:  #e3891b;
	color: white;
}

#close-form{
	background: #525658;
	color: white;
	
}

#close-form:hover{
	background: #1b1c1d;
}

.add-book:hover{
	background: orange;
}

.book-container{
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media(max-width: 400px){
	.book-container{
		grid-template-columns: none;
		justify-content: stretch;
		align-items: center;
	}
}

.added-books{
	max-width: 400px;
	padding: 15px;
	margin: 10px;
	border-radius: 10px;
	font-family: 'Inconsolata', monospace;
	display: grid;
	grid-gap: 10px;
}

.del-btn{
	color: red;
	cursor: pointer;
}

.added-books h2{
	text-decoration: underline;
	text-transform: uppercase;
}

.page-del-div{
	display: grid;
	align-items: center;
	grid-template-columns: 5fr 1fr 1fr;
}

.page-del-div input{
	width: 20px;
	height: 15px;
}

.read{
	background: #a3f395;
}

.unread{
	background: #d4cecf;
}