*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	color: #e3891b;
	text-align: center;
	font-family: 'Inconsolata', monospace;
	text-shadow: 2px 2px yellow;
}

header{
	background: #e7f8f9;
	display: flex;
	justify-content: space-around;
	padding: 15px;
	margin-bottom: 10px;
}

#newbtn{
	border:1px solid #b2ebf2;
	border-radius: 10px;
	background: #b2ebf2;
	padding: 10px;
	cursor: pointer;
	outline: none;
	color:  #e3891b;
	font-weight: bold;
	letter-spacing: 0.5px;
}

#newbtn:hover{
	background: #0887d2;
	color: #fbdfac;
}

.container{
	display: flex;
	justify-content: center;
	
}

table{
			min-width: 600px;
			border-collapse: collapse;
			border-radius: 10px;
			overflow: hidden;
		}

		thead th{
			background: #fa9d39;
			color: black;
			text-align: left;
			font-size: 1.3em;
		}

		th,td{
			padding: 10px;
		}

		.row-style{
			border-bottom: 1px solid #aaa;
		}

		.last-row-style{
			border-bottom: 2px solid #fa9d39;
		}

.blur { 
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px); 
	-o-filter: blur(3px); 
	-ms-filter: blur(3px); 
	filter: blur(3px); 
}

.form-wrapper{
	width: 90%;
	max-width: 400px;
	/*display: block;*/
	display: none;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%,0);
	background: #b2ebf2;

}

.book-form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

input{
	outline: none;
}
.input-query{
	margin-top: 10px;
	font-size: 1.2em;
	color:  #e3891b;
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
}

.input-fields{
	width: 300px;
	height: 1.5em;
	padding: 1rem;
	border: 1px solid black;
	border-radius: 10px;
}

#Page-Count{
	width: 100px;
}

.add-book, #close-form{
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
	letter-spacing: 1px;
	font-weight: bold;
	margin-top: 10px;
}

.add-book{
	background:  #e3891b;
	color: white;
}

#close-form{
	background: #525658;
	color: white;
	
}

#close-form:hover{
	background: #1b1c1d;
}

.add-book:hover{
	background: orange;
}

.del-btn{
	color: red;
	cursor: pointer;
}